root = true

# ─── Por defecto ──────────────────────────────────────────────────────────────
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# ─── PHP ──────────────────────────────────────────────────────────────────────
[*.php]
indent_size = 4

# ─── Markdown (no trimear espacios al final, se usan para saltos de línea) ────
[*.md]
trim_trailing_whitespace = false

# ─── YAML ─────────────────────────────────────────────────────────────────────
[*.{yml,yaml}]
indent_size = 4

# ─── Makefiles (requieren tabuladores) ────────────────────────────────────────
[Makefile]
indent_style = tab
